/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
.container{
  background-color: rgb(92, 89, 89);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
